[submodule "deps/cmocka"]
	path = deps/cmocka
	url = https://gitlab.com/cmocka/cmocka.git
[submodule "deps/crun"]
	path = deps/crun
	url = https://github.com/GochoMugo/crun.git
[submodule "deps/parson"]
	path = deps/parson
	url = https://github.com/kgabis/parson.git
